.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #00796b;
  border-radius: 8px;
  margin: 15px;
  margin-bottom: 2px;
}

.deleteButton {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #e74c3c;
}
